#!/bin/bash
# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
set -euo pipefail
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
if command -v mise >/dev/null; then
  mise install
fi
